*{
    margin: 10;
    padding: 10;
}

#barra {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, black, #383638);
    
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
    
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display:flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(187, 182, 182);
  }
  
  .active {
    background-color: #04AA6D;
  }
 
body {
    background-color: #f9f9f9;
    font-family: Ubuntu,sans-serif;
    transition: all .25s ease-in-out;
    position: relative;
    left: 0;
}

p{
    color:black;
    text-align: center;
    font-family: Helvetica;
    background-color:white;
    font-size:xx-large;
}

h2{    
    color: black;
    text-align: center;
    font-family: Helvetica;
    
}
div {
    display: block;
}

#card {
    align-items: center;
}

h4{
    text-align: center;
}

#presentacion {
    color: black;
    font-size: 20px;  
    font-family:Arial, Helvetica, sans-serif;
    padding: 14p;
}
    div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
      .responsive {
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .responsive {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

   

    div.mapa{
          margin: 0;
}